@charset "utf-8";
/* CSS Document */

body {font-size:12px; font-family:"宋体"; color:#000; background:url(../img/bg1.jpg) repeat-x;}
* {margin:0; padding:0; list-style:none; border:none; text-decoration:none;}

#wrap {width:100%;}
/*header*/
#header {width:368px; height:82px; margin:0 auto; padding-top:80px;}

/*contents*/
#contents {width:502px; height:351px; margin:0 auto; padding-top:10px; background:url(../img/main.jpg) top no-repeat;}
#contents .main {width:462px; height:311px; margin:40px 0 0 18px;}
#contents .main .box1 {width:460px; height:70px;}
#contents .main .box1 dt {float:left; width:111px; height:34px; line-height:34px; font-size:18px;}
#contents .main .box1 dd {float:left; width:345px; height:34px;}
#contents .main .box1 .dd2 {float:right; height:22px; width:77px; padding-top:10px; color:#F00;}
#contents .main .box1 .dd2 a {color:#F00;}
#contents .main .box2 {width:82px; height:33px; margin:21px 0 0 176px;}
#contents .main .input1 {width:345px; height:34px; background:url(../img/input1.jpg) no-repeat;}
#contents .main .input2 {width:164px; height:34px; background:url(../img/input2.jpg) no-repeat;}
#contents .main .input3 {width:82px; height:33px; background:url(../img/input3.jpg) no-repeat; text-align:center; line-height:33px; color:#e2ffff;}
/*footer*/
#footer {width:100%; height:50px; text-align:center; font-size:12px;}
.fl {float:left;}
.fr {float:right;}
.ht {height:}
.ht {height:34px!important;}